.img-view {
  margin-top: 20px;
  width: 150px;
  height: 150px;
  min-height: 150px;
  border: 2px solid rgb(160, 160, 160);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  font-weight: bold;
  color: rgb(150, 144, 144);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-view__img {
  display: none;
  width: 100%;
}
